<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- Load the properties file: sport.properties -->
	<!-- <context:property-placeholder location="classpath:sport.properties" /> -->

    <!-- Define your beans here -->
<!--     <bean id="myFortuneService" class="com.alex.HappyFortuneService">
    </bean> -->
    <bean id="myRandomFortuneService" class="com.alex.RandomFortuneService">
    </bean>
    
<!--     <bean id="myCoach" class="com.alex.TrackCoach">
        
        Set up Constructor Injection
    	<constructor-arg ref="myFortuneService" />
    </bean> -->
    
<!--     <bean id="myCricketCoach" class="com.alex.CricketCoach">
    	
    	Setup Setter injection
    	<property name="fortuneService" ref="myFortuneService"/>    
    	Inject literal values
    	<property name="emailAddress" value="alex@email.com" />
    	<property name="team" value="Best Team" />
    	
	    <property name="emailAddress" value="${foo.email}" />
    	<property name="team" value="${foo.team}" />
    </bean> -->
    
    
    
    
    
    
    <!-- Random -->
    <bean id="myRandomCoach" class="com.alex.RandomCoach">
  	
    	<!-- Setup Setter injection -->
    	<property name="randomFortuneService" ref="myRandomFortuneService"/>    

    </bean>
        	

</beans>





